@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: Georgia, 'Times New Roman', Times, serif
} */

body {
  background-color: #F5F3FF  ;
}

svg text {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 12px;
  font-weight: bold;
}